# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
./videoStreamer/src/addons
videoStreamer/src/addons/ofxTurboJpeg/

TextRain/TextRain.xcodeproj/xcuserdata/james.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

billboardParticle/

Particles_with_circular_motion/Particles_with_circular_motion.xcodeproj/project.xcworkspace/xcshareddata/Particles_with_circular_motion.xccheckout

Particles_with_circular_motion/Particles_with_circular_motion.xcodeproj/project.xcworkspace/xcuserdata/james.xcuserdatad/UserInterfaceState.xcuserstate
